@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{ background-color:lemonchiffon; }
p{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    text-align: center;
    color: royalblue;
}
table{
	border: double 5px green;
	width: 50%;
	font-size: 24px;
}
th,td{
	border: solid 2px salmon;
	width: 25%;
}